@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 64px;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  backdrop-filter: blur(10px);
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  list-style: none;
  font-family: "Source Serif 4";
}

.nav-menu::selection{
  background-color: #000000;
  color: white;
}

.option {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.hero {
  width: 100%;
  height: calc(100vh - 64px);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  margin-top: 64px;
}

.content {
  color: #f2f2f2;
  background-color: #000000;
  padding: 50px;
  text-align: justify;
}

.content::selection {
  background-color: #cccccc;
  color: #000000;
}

.cta {
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cta::selection{
  background-color: #000000;
  color: white;
}

.first-name {
  position: relative;
  right: 100px;
  top: 30px;
  font-size: 80px;
}

.first-name-back {
  font-size: 150px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.last-name {
  position: relative;
  left: 150px;
  font-size: 80px;
}

.last-name-back {
  font-size: 150px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.container-section {
  height: 100vh;
  width: 100%;
  font-family: Montserrat;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.title h1 {
  rotate: 90deg;
  position: absolute;
}

.title-front {
  z-index: 2;
}

.title-back {
  color: #000000;
  font-size: 200px;
  -webkit-text-stroke: 3px rgba(255,255,255, 0.1);
}

.container-section p {
  font-size: medium;
  width: 80%;
  font-weight: 200;
}

.wrapper {
  width: 100%;
  height: var(--height);
  overflow: hidden;
}

.wrapper .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  bottom: var(--bottom);
  top: var(--top);
}

.wrapper .list::selection {
  background-color: #000000;
  color: white;
}

.wrapper .list .item {
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  left: var(--left);
  position: absolute;
  animation: var(--animation) infinite 10s linear;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

.wrapper .list .item h1 {
  color: #464646;
  font-size: large;
  font-family: "Montserrat";
}

@keyframes scrollRight {
  from{
    left: var(--left)
  }to {
    left: 100%
  }
}

@keyframes scrollLeft {
  from {
    left: var(--left);
  }
  to {
    left: -200px;
  }
}

.project {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: row-reverse;
}

.cards {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto;
  gap: 20px;
}

.card {
  background-image: url("../assets/project1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: end;
  filter: grayscale(1);
  top: 100%;
  overflow: hidden;
}

.card:hover {
  filter: grayscale(0);

}

.card:hover .project-info {
  transform: translateY(0);
  opacity: 1;
}

.card .project-info {
  background-color: rgba(0,0,0, 0.6);
  height: 40%;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 8px 8px 0px 0px;
  z-index: 2;
}

.card div h4 {
  font-size: medium;
}
.card div p {
  font-size: small;
  color: rgba(255,255,255, 0.6);
  font-family: "Source Serif 4";
}

.content-about {
  width: 100%;
  z-index: 10;
  padding-left: 30px;
}

.content-about h3 {
  font-size: 55px;
}

.content-about p {
  max-width: 800px;
  font-family: "Source Serif 4";
  color: rgba(255,255,255, 0.6);
}

.image {
  z-index: 1;
  width: 400px;
  height: 50%;
  border-radius: 6px;
  border: #f2f2f2 solid 3px;
  background-color: #f2f2f2;
  background-image: url("../assets/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 100px;
  filter: grayscale(1);
  opacity: 0.4;
}

.image:hover {
  filter: blur(0);
  opacity: 1;
}

hr {
  margin: 10px 0px 10px 0px;
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
  width: 80%;
}

.separator {
  width: 100%;
  display: flex;
  justify-content: end;
}